body
{
  color: white;
}
 img{
   width:30%;
   margin: auto auto;
   margine-top:-4%;
}
.section
{
  width:80%;
   margine:auto;
   overflow:hidden;
   margine-top:4%;
   color: white;
   font-size: 25px;
   margin-left: 120px;
   box-sizing: border-box;
   border-radius: 10px;
   border:solid white;
   border-width: 10px;
      
  
}

.section h1{
     
     line-height:50px;
     
}
.section h2
{
  margin-top: 10%;
  margin-left: 10px;
}
.section p
{
margin-left: 200px;
}

.team-section
{
  overflow: hidden;
  text-align: center;
  padding: 60px;

}
.team-section h1
{
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
}
.border
{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;

}
.ps
{
  margin-bottom: 40px;
}
.ps a
{
  display: inline-block;
  margin: 0 30px;
  width: 300px;
  height: 300px;
  overflow:hidden;
  border-radius: 50%;
}
.ps a img
{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}
.ps a:hover>img
{
  filter:none;
}
.acer
{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}
.acer:target
{
  height: auto;
}
.name
{
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
